header#site-header a {
    color: #666666;
}

header#site-header div#site-header-top-banner {
    height: 100vh;
    background: url("../img/bg.jpg") no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#site-header div#site-header-top-banner div#site-header-cta-container {
    padding: 30px;
    border: 0;
    border-radius: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

header#site-header div#site-header-top-banner div#site-header-cta-container h1,
header#site-header div#site-header-top-banner div#site-header-cta-container p,
header#site-header div#site-header-top-banner div#site-header-cta-container button {
    margin-top: 15px;
    margin-bottom: 15px;
}

header#site-header div#site-header-top-banner div#site-header-cta-container button {
    background: #0097ad;
    color: #ffffff;
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 2px 15px #999999;
}

header#site-header div#site-header-top-banner div#site-header-cta-container button:hover {
    background: #FC466B;
    transition: all 0.2s ease;
}

header#site-header div#site-header-top-banner div#site-header-cta-container button:active {
    position: relative;
    top: 1px;
}

header#site-header div#site-header-menu-container {
    padding: 15px;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#site-header div#site-header-hamburger-menu {
    padding: 0 30px 0 0;
    display: none;
}

header#site-header div#site-header-hamburger-menu i {
    font-size: 18pt;
    color: #666666;
    cursor: pointer;
}

header#site-header #side-menu-toggle-button {
    cursor: pointer;
    z-index: 99;
    display: none;
    position: absolute;
}

header#site-header nav#site-header-side-menu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    width: 250px;
    transform: translateX(-250px);
    background: #eeeeee;
    transition: all 0.2s ease;
    padding: 30px;
}

header#site-header #site-header-hamburger-menu input[type=checkbox]:checked ~ nav#site-header-side-menu {
    transform: translateX(0);
    transition: all 0.2s ease;
}

header#site-header nav#site-header-side-menu ul {
    padding: 0;
    margin: 0;
}

header#site-header nav#site-header-side-menu ul li {
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #dddddd;
}

header#site-header nav#site-header-side-menu ul li:last-child {
    border-bottom: none;
}

header#site-header nav#site-header-side-menu ul li a {
    text-decoration: none;
}

header#site-header nav#site-header-side-menu div.social-buttons {
    margin-top: 30px;
}

header#site-header nav#site-header-side-menu div.social-buttons i {
    margin-right: 15px;
}

header#site-header div#site-header-menu-container div#site-header-logo {
    width: 30px;
    margin-right: 45px;
}

header#site-header div#site-header-menu-container div#site-header-logo img {
    width: 100%;
}

header#site-header div#site-header-menu-container nav#site-header-main-menu {
    justify-content: flex-end;
}

header#site-header div#site-header-menu-container nav#site-header-main-menu ul {
    padding: 0;
    margin: 0;
}

header#site-header div#site-header-menu-container nav#site-header-main-menu ul li {
    list-style: none;
    display: inline;
    border-right: 1px solid #999999;
    padding: 0 15px;
}

header#site-header div#site-header-menu-container nav#site-header-main-menu ul li:last-child {
    border-right: none;
}

header#site-header div#site-header-menu-container nav#site-header-main-menu ul li a {
    color:#666666;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

header#site-header div#site-header-menu-container nav#site-header-main-menu ul li a:hover {
    color: #0097ad;
    transition: all 0.3s ease;
}

.fixed-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 2px 0 15px #dddddd;
    transition: all 0.2s ease;
}


/*====== Media Queries ======*/

@media screen and (max-width: 1200px) {

    header#site-header div#site-header-menu-container {
        padding: 15px 30px;
    }

    header#site-header div#site-header-hamburger-menu {
        display: block;
        justify-content: flex-end;
        margin-left: auto;
        padding: 0;
    }

    header#site-header nav#site-header-main-menu {
        display: none;
    }
}